# Hive Assignment

> CA675

Author : Shubham Rai
Student Number : 21261161

# Data Extraction

Data set extracted from following link 
https://data.stackexchange.com/stackoverflow/query/new

### Query used to extract data
As data extraction limit is 50000 we need to extract 4 files with help of row number.


```
SELECT 
*
FROM 
(
SELECT 
ROW_NUMBER() OVER (ORDER BY VIEWCOUNT DESC) AS RN, 
Id,
PostTypeId,
AcceptedAnswerId,
ParentId,
CreationDate,
DeletionDate,
Score,
ViewCount,
OwnerUserId,
OwnerDisplayName,
LastEditorUserId,
LastEditorDisplayName,
LastEditDate,
LastActivityDate,
Title,
Tags,
AnswerCount,
CommentCount,
FavoriteCount,
ClosedDate,
CommunityOwnedDate,
ContentLicense
FROM POSTS WHERE VIEWCOUNT IS NOT NULL
) AS T
WHERE RN BETWEEN 150000 AND 200000
```

# Starting Hive Server

bin/hiveserver2
bin/beeline -n hdoop -u jdbc:hive2://localhost:10000

# Create Table in HIVE
As delimited file formated has issues while reading quoted characters we are using SERDE format to read CSV and insert data in HIVE

In [ ]:
create table stackexchange(RN int, Id int, PostTypeId int,AcceptedAnswerId int,ParentId int,CreationDate timestamp,DeletionDate timestamp,Score BIGINT,ViewCount BIGINT,OwnerUserId varchar(255),OwnerDisplayName varchar(255),LastEditorUserId varchar(255),LastEditorDisplayName varchar(255),LastEditDate timestamp,LastActivityDate timestamp,Title timestamp,Tags varchar(255),AnswerCount int,CommentCount int,FavoriteCount int,ClosedDate timestamp,CommunityOwnedDate timestamp,ContentLicense varchar(255))  ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde';

# Put Data on HDFS

hadoop fs -put < local_path  to < hdfs_location >

# Task 2 & 3

### 2.2.1) Querying top 10 posts by score

In [4]:
from pyhive import hive
from tabulate import tabulate
import pandas as pd


host_name = "localhost"
port = 10000
user = "hdoop"
password = "a"
database="default"

def hiveconnection(host_name, port, user,password, database):
    conn = hive.Connection(host=host_name, port=port, username=user, password=password,
                           database=database, auth='CUSTOM')
    return conn


conn = hiveconnection(host_name, port, user,password, database)
cur = conn.cursor()

## Usage example from https://github.com/dropbox/PyHive

In [80]:
cur.execute('select ID, Title, Score from stackexchange_view order by score desc limit 10')
result = cur.fetchall()
print(tabulate(result, tablefmt='orgtbl'))

| 11227809 | Why is processing a sorted array faster than processing an unsorted array? | 25893 |
|   927358 | How do I undo the most recent local commits in Git?                        | 23274 |
|  2003505 | How do I delete a Git branch locally and remotely?                         | 18451 |
|   292357 | What is the difference between 'git pull' and 'git fetch'?                 | 12796 |
|   231767 | What does the "yield" keyword do?                                          | 11512 |
|   477816 | What is the correct JSON content type?                                     | 10894 |
|   348170 | How do I undo 'git add' before commit?                                     | 10045 |
|  5767325 | How can I remove a specific item from an array?                            |  9877 |
|  6591213 | How do I rename a local Git branch?                                        |  9747 |
|  1642028 | What is the "-->" operator in C/C++?                                       |  9539 |

### 2.2.2) The top 10 users by post score

In [8]:
### Join data as usernames data was extracted and added post data pulling

cur.execute("""
SELECT DISTINCT u.displayname,stackexchange.score,stackexchange.owneruserid FROM
(
    select
           OwnerUserId,
           sum(score) as score
    from stackexchange_view
    group by OwnerUserId
    order by score desc
    LIMIT 11
)stackexchange
LEFT JOIN usernames u
ON stackexchange.owneruserid = u.id
ORDER BY stackexchange.score DESC
""")
result = cur.fetchall()
print(tabulate(result, tablefmt='orgtbl'))

|                 | 448906 |        |
| GManNickG       |  37606 | 87234  |
| readonly        |  28739 | 4883   |
| e-satis         |  26728 | 9951   |
| pupeno          |  25860 | 6068   |
| Hamza Yerlikaya |  23949 | 89904  |
| Joan Venge      |  23632 | 51816  |
| Ali             |  20156 | 49153  |
| TIMEX           |  19454 | 179736 |
| Matthew Rankin  |  19413 | 95592  |
| flybywire       |  19295 | 63051  |


### 2.2.3) The number of distinct users, who used the word “cloud” in one of their posts

## -- Note : Using Title and Tags field for counting cloud as we are receiving timeout when trying to pull body field from source

In [15]:
cur.execute("""
SELECT
     COUNT(DISTINCT owneruserid) as user_count
FROM stackexchange_view
WHERE title LIKE '%cloud%' or tags LIKE '%cloud%'
""")
result = cur.fetchall()
print(tabulate(result, tablefmt='orgtbl'))

| 357 |

In [77]:
### Get data for top 10 users from above list and pull data

df = pd.read_sql("""
SELECT
       owneruserid,
       title
from stackexchange_view
WHERE owneruserid
IN
      (
             87234,
             4883,
             9951,
             6068,
             89904,
             51816,
             49153,
             179736,
             95592,
             63051
          )
order by owneruserid""", conn)
top_10_user_id = list(df["owneruserid"].unique())

In [62]:
## References taken and custom function created by me. 
## Reference : https://medium.com/@cmukesh8688/tf-idf-vectorizer-scikit-learn-dbc0244a911a

from sklearn.feature_extraction.text import TfidfVectorizer


# Calculate sum() of TF-IDF and get top 10 words with highest TF-IDF and select only those columns
def calculate_tf_idf(df):
    vectorizer = TfidfVectorizer(stop_words='english', lowercase=True) # Remove Stop Words
    response = vectorizer.fit_transform(df["title"]) # Use title field for TF/IDF
    df_tfidf_sklearn = pd.DataFrame(response.toarray(),columns=vectorizer.get_feature_names_out())
    total_tf_idf = df_tfidf_sklearn.sum(axis = 0) # Remove sum of TF/IDF for getting top 10 most used words
    top_10_list = total_tf_idf.nlargest(10) # Get top 10 words per user
    top_10_words = list(top_10_list.index) # Get list of top 10 words
    df_tfidf_sklearn[top_10_words] # Select only top 10 words as column
    return df_tfidf_sklearn[top_10_words]

## For each of top 10 users and their top 10 words plot TF/IDF table for their correspnding comments

In [81]:
## For all 10 users create TF-IDF table for each user for their respective comments. 

for each_user in top_10_user_id: ## Iterate over all top 10 users
    username_id = str(each_user)
    filtered_data = df[(df['owneruserid']==username_id)] # Filter data only for selected user
    tf_idf_df = calculate_tf_idf(filtered_data) # pass on to above function
    print("For Username ID TF/IDF table : "+username_id) 
    tf_idf_df.insert(0, 'usernameid', username_id)# attach username ID field to dataframe
    display(tf_idf_df)
    print("******************************************************************************\n\n\n")

For Username ID TF/IDF table : 179736

,usernameid,python,django,javascript,js,node,use,string,dictionary,query,mysql
0,179736,0.338128,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,179736,0.000000,0.000000,0.0,0.275686,0.275686,0.0,0.000000,0.0,0.0,0.000000
2,179736,0.000000,0.000000,0.0,0.350733,0.350733,0.0,0.000000,0.0,0.0,0.000000
3,179736,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
4,179736,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.394849,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
109,179736,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
110,179736,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
111,179736,0.000000,0.288203,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
112,179736,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.398258
113,179736,0.288398,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000

******************************************************************************



For Username ID TF/IDF table : 4883

,usernameid,python,git,ruby,table,process,list,rename,rails,difference,write
0,4883,0.000000,0.000000,0.000000,0.332494,0.000000,0.000000,0.362955,0.362955,0.000000,0.362955
1,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.416967,0.000000,0.000000,0.000000,0.000000
3,4883,0.000000,0.000000,0.427544,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,4883,0.000000,0.000000,0.000000,0.000000,0.350231,0.000000,0.000000,0.000000,0.000000,0.000000
6,4883,0.000000,0.000000,0.521156,0.000000,0.000000,0.568902,0.000000,0.000000,0.000000,0.000000
7,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,4883,0.000000,0.402233,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,4883,0.000000,0.000000,0.000000,0.521156,0.000000,0.000000,0.568902,0.000000,0.000000,0.000000
10,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,4883,0.000000,0.280138,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,4883,0.249965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,4883,0.000000,0.000000,0.000000,0.330545,0.330545,0.000000,0.000000,0.000000,0.000000,0.000000
14,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,4883,0.000000,0.301298,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.534435,0.000000
19,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.534435,0.000000,0.000000
21,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,4883,0.288276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,4883,0.288276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,4883,0.000000,0.000000,0.439712,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.479997
27,4883,0.362262,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,4883,0.429802,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,4883,0.234332,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.311276,0.000000
30,4883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,4883,0.000000,0.473839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,4883,0.000000,0.000000,0.000000,0.000000,0.350231,0.000000,0.000000,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 49153

,usernameid,javascript,php,using,jquery,java,array,string,file,class,select
0,49153,0.372458,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,49153,0.000000,0.000000,0.000000,0.290805,0.0,0.0,0.0,0.0,0.000000,0.0
2,49153,0.000000,0.307253,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
3,49153,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
4,49153,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
74,49153,0.000000,0.337705,0.337705,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
75,49153,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
76,49153,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
77,49153,0.389987,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.577234,0.0
78,49153,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0

******************************************************************************



For Username ID TF/IDF table : 51816

,usernameid,python,string,list,wpf,values,index,function,class,net,value
0,51816,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.767028,0.000000,0.000000
1,51816,0.000000,0.000000,0.000000,0.328272,0.0,0.000000,0.0,0.000000,0.000000,0.000000
2,51816,0.211868,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.417964
3,51816,0.000000,0.000000,0.362504,0.000000,0.0,0.000000,0.0,0.000000,0.478167,0.000000
4,51816,0.000000,0.000000,0.356142,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
59,51816,0.168840,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
60,51816,0.000000,0.604756,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
61,51816,0.000000,0.000000,0.000000,0.000000,0.0,0.490276,0.0,0.000000,0.000000,0.000000
62,51816,0.000000,0.000000,0.378230,0.000000,0.0,0.469521,0.0,0.000000,0.000000,0.000000
63,51816,0.314929,0.539368,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 6068

,usernameid,file,sql,android,java,asp,mvc,net,git,data,difference
0,6068,0.000000,0.000000,0.379839,0.000000,0.000000,0.000000,0.000000,0.000000,0.408078,0.000000
1,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.709227,0.000000,0.354614
3,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.503013
4,6068,0.404515,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,6068,0.000000,0.000000,0.000000,0.476325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,6068,0.379839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.408078,0.000000
10,6068,0.000000,0.000000,0.424029,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,6068,0.591838,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.317919,0.000000,0.000000
13,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,6068,0.000000,0.654946,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,6068,0.000000,0.000000,0.000000,0.000000,0.395053,0.395053,0.395053,0.000000,0.000000,0.000000
16,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,6068,0.000000,0.000000,0.000000,0.000000,0.319194,0.319194,0.319194,0.000000,0.000000,0.000000
18,6068,0.000000,0.000000,0.000000,0.000000,0.395053,0.395053,0.395053,0.000000,0.000000,0.000000
19,6068,0.000000,0.635499,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,6068,0.000000,0.000000,0.000000,0.370995,0.000000,0.000000,0.000000,0.000000,0.000000,0.398576
22,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,6068,0.000000,0.000000,0.000000,0.000000,0.358590,0.358590,0.358590,0.000000,0.000000,0.000000
25,6068,0.000000,0.000000,0.416058,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,6068,0.000000,0.000000,0.365621,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.355684,0.000000,0.000000
30,6068,0.000000,0.000000,0.000000,0.318064,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,6068,0.000000,0.000000,0.000000,0.365621,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,6068,0.000000,0.351563,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,6068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.441140,0.000000
35,6068,0.404515,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 63051

,usernameid,vs,bash,java,list,instance,python,linux,redirect,kill,output
0,63051,0.000000,0.334417,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.378156
1,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,63051,0.299971,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.339204,0.000000,0.000000
3,63051,0.000000,0.322478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.364656
4,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.445436,0.000000,0.481991,0.000000
5,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.327146,0.000000,0.000000,0.000000
7,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,63051,0.000000,0.000000,0.000000,0.000000,0.801591,0.000000,0.000000,0.000000,0.000000,0.000000
10,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,63051,0.241678,0.000000,0.546575,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,63051,0.000000,0.322478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,63051,0.000000,0.000000,0.000000,0.434222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,63051,0.000000,0.000000,0.000000,0.000000,0.474023,0.000000,0.000000,0.000000,0.000000,0.000000
23,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.457567,0.000000,0.000000,0.000000,0.000000
24,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,63051,0.422192,0.000000,0.000000,0.477411,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.331862,0.000000,0.000000,0.000000
27,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.434222,0.000000,0.000000,0.000000,0.000000
32,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,63051,0.000000,0.000000,0.355579,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,63051,0.000000,0.000000,0.526650,0.000000,0.000000,0.000000,0.000000,0.000000,0.569869,0.000000
37,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,63051,0.000000,0.422192,0.000000,0.000000,0.000000,0.000000,0.000000,0.477411,0.000000,0.000000
39,63051,0.000000,0.251242,0.000000,0.000000,0.000000,0.000000,0.000000,0.284102,0.000000,0.284102
40,63051,0.462809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.355579,0.000000,0.000000,0.000000,0.000000
43,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,63051,0.000000,0.000000,0.000000,0.445436,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
46,63051,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,63051,0.522192,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 87234

,usernameid,operator,array,processing,copy,idiom,swap,faster,sorted,unsorted
0,87234,0.0,0.000000,0.000000,0.57735,0.57735,0.57735,0.000000,0.000000,0.000000
1,87234,1.0,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000
2,87234,0.0,0.603023,0.603023,0.00000,0.00000,0.00000,0.301511,0.301511,0.301511

******************************************************************************



For Username ID TF/IDF table : 89904

,usernameid,java,git,undo,jar,appending,objectoutputstream,swing,timer,open,profilers
0,89904,0.000000,0.403194,0.403194,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,89904,0.000000,0.000000,0.000000,0.391176,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,89904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,89904,0.313903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,89904,0.000000,0.457985,0.457985,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,89904,0.356655,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.539382,0.539382
6,89904,0.000000,0.000000,0.000000,0.440595,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,89904,0.000000,0.000000,0.000000,0.000000,0.707107,0.707107,0.000000,0.000000,0.000000,0.000000
8,89904,0.423549,0.000000,0.000000,0.000000,0.000000,0.000000,0.640549,0.640549,0.000000,0.000000
9,89904,0.313903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 95592

,usernameid,install,pip,installed,python,virtualenv,cache,local,determining,flask,version
0,95592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,95592,0.000000,0.000000,0.360493,0.000000,0.360493,0.000000,0.000000,0.000000,0.000000,0.000000
2,95592,0.000000,0.000000,0.435556,0.000000,0.000000,0.000000,0.000000,0.519708,0.519708,0.519708
3,95592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,95592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,95592,0.347708,0.347708,0.000000,0.347708,0.347708,0.000000,0.000000,0.000000,0.000000,0.000000
6,95592,0.454195,0.454195,0.000000,0.000000,0.000000,0.541948,0.541948,0.000000,0.000000,0.000000
7,95592,0.000000,0.000000,0.000000,0.386479,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

******************************************************************************



For Username ID TF/IDF table : 9951

,usernameid,git,javascript,python,string,file,callable,android,dictionary,url,way
0,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
1,9951,0.000000,0.000000,0.000000,0.455000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
2,9951,0.541841,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
3,9951,0.000000,0.493950,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
4,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
5,9951,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.00000,0.000000,0.000000,0.000000
6,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.530479,0.000000,0.000000
7,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.468624,0.000000
8,9951,0.360453,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
9,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
10,9951,0.258934,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
11,9951,0.000000,0.000000,0.000000,0.662735,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
12,9951,0.000000,0.372751,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
13,9951,0.000000,0.372751,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
14,9951,0.000000,0.000000,0.000000,0.000000,0.530479,0.0,0.00000,0.000000,0.000000,0.000000
15,9951,0.000000,0.000000,0.483550,0.000000,0.000000,0.0,0.48355,0.000000,0.000000,0.483550
16,9951,0.288828,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.396495,0.000000
17,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
18,9951,0.000000,0.000000,0.662735,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
19,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
20,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.45500,0.000000,0.000000,0.000000
21,9951,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.375106,0.000000,0.375106
22,9951,0.306795,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
23,9951,0.213534,0.000000,0.000000,0.000000,0.586267,0.0,0.00000,0.000000,0.000000,0.000000

******************************************************************************